<!doctype html>
<html lang="eng">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="Stylesheet" href="BarSidetwo.css">

        <title>
            
        </title>
    </head>
    <body>
        <aside class ='MenuBar'>
            <h2 class ='Menu'>Menu</h2>
            <li class = 'menu-list'>
                <div class ='home'>
                    <img src="Home.png.png" alt="Home Page logo">
                    <span>Home</span>
                </div>
                <div class ='Archieve'>
                    <img src="Archive.png" alt="Archive logo">
                    <span>Archieve</span>
                </div>
                <div class = 'Favourites'>
                    <img src="Star.png" alt="Star logo">
                    <span>Favourites</span>
                </div>
                <div class="Trash">
                    <img src="Trash 2.png" alt="Trash logo">
                    <span>Trash</span>
                </div>
            </li>

            <div class="Setting">
                <p>Settings</p>
            </div>

            <div class="Log-out">
                <img src="Log in.png" alt="log out logo">
                <span>Log out</span>
            </div>
        </aside>



        

        
    </body>


</html>
